@import "./media-queries";
@import "./constants";

.font-dark {
  color: $font-colour-dark;
}

h1, h2, h3 {
  margin: 5px;
  font-weight: 500;
  font-family: Montserrat-Medium, sans-serif;
}

h1 {
  font-size: 3.5rem;
  @include desktop-and-below {
    font-size: 2.5rem;
  }

  @include mobile-landscape-sm-and-below {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  @include desktop-and-below {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.7rem;
  @include desktop-and-below {
    font-size: 1.3rem;
    line-height: 30px;
  }

  @include mobile-landscape-sm-and-below {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.highlight-red {
  color: $highlight-colour-red;
}

.highlight-yellow {
  color: $highlight-colour-yellow;
}