@import "./navbar";
@import "./constants";
@import "./animations";
@import "./media-queries";
@import "./buttons";
@import "./fonts";
@import "./spacing";
@import "./hamburgers/hamburgers.scss";

html {
  background: rgb(39, 33, 54);
  background: radial-gradient(circle, rgba(39, 33, 54, 1) 40%, rgba(38, 32, 50, 1) 100%);
}

::selection, ::-moz-selection {
  color: $highlight-colour-red !important;
  background: $highlight-colour-red !important;
}

html, body, #__next, #page-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  //background-color: $background-colour;
  color: $font-colour;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

$left-panel-width: 125px;

.left-panel {
  position: fixed;
  width: $left-panel-width;
  height: 100vh;
  animation: slide-in-left 0.45s ease-out;
}

.main-panel {
  width: 100vw;
}

.page-panel {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  height: 100vh;

  @include desktop-and-below {
    max-width: 100%;
    padding: 0 1rem;

    &.first-panel {
      height: calc(100vh - 200px);
      margin-bottom: 100px;
    }
  }
}

.centered {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  margin: auto 0;
}

.hero-text {
  max-width: 950px;
  display: flex;
  flex-direction: column;

  @include tablet-landscape-and-below {
    max-width: 75%;
  }

  @include tablet-portrait-and-below {
    max-width: 85%;
  }

  @include mobile-landscape-and-below {
    max-width: 100%;
  }

  span {
    @include mobile-landscape-and-below {
      display: block;
    }
  }
}

img.head-shot {
  $headShotSize: 80px;
  width: $headShotSize;
  height: $headShotSize;
  position: absolute;
  top: 30px;
  left: 30px;
}

img.head-shot-mobile {
  display: flex;
  $headShotSize: 60px;
  width: $headShotSize;
  height: $headShotSize;
}


.mobile-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 60px;
  align-items: center;

  @include desktop-and-up {
    display: none;
  }

  img {
    margin: 0 20px;
  }
}

.mobile-only-burger {
  @include  mobile-landscape-and-up-tablet-height {
    display: none !important;
  }
}

.mobile-only {
  @include desktop-and-up {
    display: none !important;
  }
}

.desktop-only {
  @include desktop-and-below {
    display: none !important;
  }
}

.social-icons {
  display: flex;
  height: 100%;
  flex-direction: column;
  //align-items: center;
  justify-content: center;

  a {
    display: flex;
    margin: 15px 0;
    width: auto;
    justify-content: center;
  }

}

img.social {
  //width: 50px;
  object-fit: contain;
  display: flex;
  width: auto;
  height: 25px;
  filter: brightness(0) invert(0.80);
  transition: all 0.35s ease;

  &:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.15);
  }
}