@import "./navbar";
@import "./constants";
@import "./animations";


html {
  background: rgb(39, 33, 54);
  background: radial-gradient(circle, rgba(39, 33, 54, 1) 40%, rgba(38, 32, 50, 1) 100%);
}

html, body, #__next, #page-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: $background-colour;
  color: $font-colour;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.font-dark {
  color: $font-colour-dark;
}

h1, h2, h3 {
  margin: 5px;
  font-weight: 500;
  font-family: Montserrat-Medium, sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1rem;
}

.highlight-red {
  color: $highlight-colour-red;
}

.highlight-yellow {
  color: $highlight-colour-yellow;
}

$left-panel-width: 125px;

.left-panel {
  position: fixed;
  width: $left-panel-width;
  height: 100vh;
  animation: slide-in-left 0.45s ease-out;
}

.main-panel {
  width: 100vw;
}

.page-panel {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

.centered {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  margin: auto 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.hero-text {
  max-width: 950px;
  display: flex;
  flex-direction: column;
}

img.head-shot {
  $headShotSize: 80px;
  width: $headShotSize;
  height: $headShotSize;
  position: absolute;
  top: 30px;
  left: 30px;
}

.social-icons {
  display: flex;
  height: 100%;
  flex-direction: column;
  //align-items: center;
  justify-content: center;

  img {
    //width: 50px;
    object-fit: contain;
    display: flex;
    width: auto;
    height: 25px;
    margin: 15px 0;
    filter: brightness(0) invert(0.80);
    transition: all 0.35s ease;

    &:hover {
      filter: none;
      cursor: pointer;
      transform: scale(1.15);
    }
  }
}