@import "./constants";
@import "./media-queries";

.burger-menu {
  display: none;
  @include mobile-devices-only {
    display: flex;
    margin-left: auto !important;
    z-index: 3 !important;
  }
}

nav {
  display: flex;

  @include desktop-and-up {
    right: 30px;
    top: 30px;
    position: absolute;
  }

  @include desktop-and-below {
    position: relative;
    margin-left: auto;
  }

  @include mobile-devices-only {
    margin-left: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #382f50;

    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    &[aria-expanded="true"] {
      max-height: 500px;
      transition: max-height 1s ease-in-out;
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    @include mobile-devices-only {
      flex-direction: column;
      width: 100%;
      margin-top: 25px;
    }

    li {
      display: flex;
      @include desktop-and-below {
        padding: 0 15px;
      }
      @include mobile-devices-only {
        padding: 10px 0;
      }
      padding: 0 25px;
      transition: color 0.35s ease;

      &:hover {
        cursor: pointer;
        color: $highlight-colour-red;
      }
    }

  }
}

// Nav container only applicable on mobiles
.nav-container {
  @include desktop-and-below {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    padding: 0 20px;
  }
}